.gaize{
    text-align: center;
    padding: 1rem;
}
.bill {
    position:absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#lab{
    margin-top: 1rem;
}
@media only screen and (max-width: 800px) {

h1{
    font-size: 1.2rem;
    font-weight: bolder;
}

.btn{
    font-size: 1rem;
}

}

#show{
    font-size: xx-small;
}